@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
	margin:0;
	padding:0;
	font-family: 'Heebo', sans-serif;
}
body{
	background-image: url("../img/discofloor.gif");
}
nav{
	text-align:center;
	background-color:black;
	margin-bottom:2cm;
	color:#E600FF;
}
main{
	display:flex;
	/*background-color:blue;*/
	justify-content:center;
}
canvas{
	border: 2px solid black;
	background-color: black;
}
footer{
	display:flex;
	justify-content:center;
}
p{
	
	background-color: black;
	border: 2px solid #E600FF;
	border-top:none;
	color:#E600FF;
}
#inputWrap{
	background-color: black;
	border: 2px solid #E600FF;
}
#sliderWrapper{
	display:flex;
	justify-content:center;
}
#discoball{
	width:200px;
	height:200px;
}
#mazeImg{
	display:none;
	
}
